<div class="dropdown d-flex float-right">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Temporada
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="selecionaTemporada('2019')">2019</a>
      <a class="dropdown-item" (click)="selecionaTemporada('2020')">2020</a>
      <a class="dropdown-item" (click)="selecionaTemporada('2021')">2021</a>
    </div>
</div>

<section class="comparador">
    <div class="row d-flex justify-content-between">
        <div class="time1 col-xs-12 col-md-6">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2>Time 1</h2>
                </div>
            </div>
            <div class="row">
                <div id="imgTime1_div" class="col d-flex justify-content-center">
                    <img id="imgTime1" src="../assets/img/times/AtleticoMineiro.jpg" alt="Brasão do time 1">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <dl>
                        <dt>Sequência</dt>
                        <dd>V V D</dd>
                        <dt>Jogos</dt>
                        <dd>XX</dd>
                        <dt>Vitórias</dt>
                        <dd>XX</dd>

                        <dt>Empates</dt>
                        <dd>XX</dd>

                        <dt>Derrotas</dt>
                        <dd>XX</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="time2 col-xs-12 col-md-6">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2>Time 2</h2>
                </div>
            </div>
            <div class="row">
                <div  id="imgTime2_div" class="col d-flex justify-content-center">
                    <img id="imgTime2" src="../assets/img/times/Flamengo.jpg" alt="Brasão do time 2">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <section>
                        <dl>
                            <dt>Sequência</dt>
                            <dd>E D D </dd>

                            <dt>Jogos</dt>
                            <dd>XX</dd>

                            <dt>Vitórias</dt>
                            <dd>XX</dd>

                            <dt>Empates</dt>
                            <dd>XX</dd>

                            <dt>Derrotas</dt>
                            <dd>XX</dd>
                        </dl>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row divBtn">
    <div class="col d-flex justify-content-center" (click)="limpar()">
        <button type="button" class="btn btn-danger">Limpar</button>
    </div>
</div>
