main{
  padding: 1em;
}

section{
    margin-bottom: 1em;
}

.carousel-control-prev-icon{
  background-image: url(../../assets/img/left-arrow.png);
  margin-right: 4em;
}

.carousel-control-next-icon{
  background-image: url(../../assets/img/right-arrow.png);
  margin-left: 4em;
}
