<section class="selecionador">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="row">
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/America.jpg', 'América')"><img src="../assets/img/times/America.jpg" alt="América"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Athletico.jpg', 'Athletico Paranaense')"><img src="../assets/img/times/Athletico.jpg" alt="Athletico Paranaense"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Atletico.jpg', 'Atlético Goianiense')"><img src="../assets/img/times/Atletico.jpg" alt="Atlético Goianiense"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/AtleticoMineiro.jpg', 'Atlético Mineiro')"><img src="../assets/img/times/AtleticoMineiro.jpg" alt="Atlético Mineiro"></a>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Bahia.jpg', 'Bahia')"><img src="../assets/img/times/Bahia.jpg" alt="Bahia"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Ceara.jpg', 'Ceará')"><img src="../assets/img/times/Ceara.jpg" alt="Ceará"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Chapecoense.jpg', 'Chapecoense')"><img src="../assets/img/times/Chapecoense.jpg" alt="Chapecoense"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Corinthians.jpg', 'Corinthians')"><img src="../assets/img/times/Corinthians.jpg" alt="Corinthians"></a>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Cuiaba.jpg', 'Cuiabá')"><img src="../assets/img/times/Cuiaba.jpg" alt="Cuiabá"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Flamengo.jpg', 'Flamengo')"><img src="../assets/img/times/Flamengo.jpg" alt="Flamengo"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Fluminense.jpg', 'Fluminense')"><img src="../assets/img/times/Fluminense.jpg" alt="Fluminense"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Fortaleza.jpg', 'Fortaleza')"><img src="../assets/img/times/Fortaleza.jpg" alt="Fortaleza"></a>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Gremio.jpg', 'Grêmio')"><img src="../assets/img/times/Gremio.jpg" alt="Grêmio"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Internacional.jpg', 'Internacional')"><img src="../assets/img/times/Internacional.jpg" alt="Internacional"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Juventude.jpg', 'Juventude')"><img src="../assets/img/times/Juventude.jpg" alt="Juventude"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Palmeiras.jpg', 'Palmeiras')"><img src="../assets/img/times/Palmeiras.jpg" alt="Palmeiras"></a>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/RedBull.jpg', 'RedBull')"><img src="../assets/img/times/RedBull.jpg" alt="RedBull"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Santos.jpg', 'Santos')"><img src="../assets/img/times/Santos.jpg" alt="Santos"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/SaoPaulo.jpg', 'São Paulo')"><img src="../assets/img/times/SaoPaulo.jpg" alt="São Paulo"></a>
              </div>
              <div class="col-md-3 d-flex justify-content-center">
                <a class="d-inline-block w-18 logo-time" (click)="selecionarTime('../assets/img/times/Sport.jpg', 'Sport')"><img src="../assets/img/times/Sport.jpg" alt="Sport"></a>
              </div>
          </div>
      </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</section>
